*.Rcheck
*~
*.tar.gz

# History files
.Rhistory
.Rincr_history
.Rapp.history
.Rapp_history

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

rdatadir

pkg.tests
tmp*
*.tmp
*.Rcheck
varray.tests
sparsetsmat.tests
