useDynLib(sparsetsmat)
importFrom(Rcpp, evalCpp, sourceCpp)
importFrom(utils, head, tail)
export(sparsetsmat, add.tsdata, is.virtual.array, add.tsdata.sparsetsmat, lookup.arr)
export(`[<-.sparsetsmat`)
S3method(sparsetsmat, data.frame)
S3method(sparsetsmat, matrix)
S3method(add.tsdata, sparsetsmat)
S3method(as.data.frame, sparsetsmat)
S3method(as.matrix, sparsetsmat)
S3method(ncol, sparsetsmat)
S3method(nrow, sparsetsmat)
S3method(dim, sparsetsmat)
S3method(dimnames, sparsetsmat)
S3method(colnames, sparsetsmat)
S3method(lookup.arr, sparsetsmat)
S3method(rownames, sparsetsmat)
S3method(print, sparsetsmat)
S3method(is.virtual.array, sparsetsmat)
S3method('[', sparsetsmat)
S3method('[<-', sparsetsmat)
S3method(head, sparsetsmat)
S3method(tail, sparsetsmat)
