export(sparsetsmat, add.data, is.virtual.array)
S3method(add.data, sparsetsmat)
S3method(as.data.frame, sparsetsmat)
S3method(as.matrix, sparsetsmat)
S3method(ncol, sparsetsmat)
S3method(nrow, sparsetsmat)
S3method(dim, sparsetsmat)
S3method(dimnames, sparsetsmat)
S3method(colnames, sparsetsmat)
S3method(rownames, sparsetsmat)
S3method(print, sparsetsmat)
S3method(summary, sparsetsmat)
S3method(is.virtual.array, sparsetsmat)
S3method('[', sparsetsmat)

